footer {
    background-color: #EDD8BA;
    text-align: center;
    color: white;
    font-family: 'Arvo', serif;

    .credits {
        padding: 3%;

        p {
            font-size: 20px;
            margin-top: 15px;
        }
    }
}